#buttonvs{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    h2 {
        font-size: 35px;
        color: white;
    }
    #buttons {
        margin-top: 20px;
        width: 30%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        button {
            color: white;
            background: none;
            border: 3px solid white;
            border-radius: 10px;
            width: 45%;
            height: 100%;
            font-size: 20px;
            font-weight: 600;
            transition: 0.3s ease;
            cursor: pointer;
        }
        button:hover {
            transform: scale(1.1);
            box-shadow: 1px -1px 16px 0px rgba(255, 255, 255, 0.75);
            -webkit-box-shadow: 1px -1px 16px 0px rgba(255, 255, 255, 0.75);
            -moz-box-shadow: 1px -1px 16px 0px rgba(255, 255, 255, 0.75);
        }
    }
}
.emerge {
    animation: 1000ms linear emerge;
}

@keyframes emerge {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}